body {
}

#board {
	margin: 0 auto;
	padding: 2%;
	height: 40vw;
	width: 64vw;
	border: 10px solid black;
	background-image: url("images/Board.png");
	background-repeat: no-repeat;
	background-size: 101% 101%;
}

#boardTable {
	margin: 0 auto;
	padding: 5vw 0 0 0;
}

td {
	text-align: center;
	width: 4vw;
}

.space {
	border: 7px solid rgba(0, 0, 0, .90);
	border-radius: 25%;
	background-color: rgba(0, 0, 0, .70);
}

#dieContainer {
	overflow: hidden;
	padding: 0;
}

#dieEnabled {
	height: 7vw;
	overflow: hidden;
	padding: 0;
}

#dieEnabled:hover {
	height: 7.5vw;
	cursor: pointer;
}

#dieDisabled1 {
	height: 7vw;
	overflow: hidden;
	padding: 0;
}

#dieDisabled2 {
	height: 7vw;
	overflow: hidden;
	padding: 0;
	opacity: 0.6;
}

.space img {
	margin: 0 auto;
	height: 3.5vw;
	width: 3.5vw;
	overflow: hidden;
}

#welcomeBox {
	margin: 0 auto;
	background-color: rgba(133, 73, 0, 1);
	border: 7px solid rgba(82, 45, 0, 1);
	border-radius: 25px;
	width: 50vw;
	font-size: 2vw;
	position: fixed;
	top: 10vw;
	left: 20vw;
	color: white;
	padding: 0 5vw;
}

#winBox {
	visibility: hidden;
	margin: 0 auto;
	background-color: rgba(133, 73, 0, 1);
	border: 7px solid rgba(82, 45, 0, 1);
	border-radius: 25px;
	width: 40vw;
	font-size: 2vw;
	position: fixed;
	top: 10vw;
	left: 25vw;
	color: white;
	padding: 0 5vw;
}

#winBox h1 {
	text-align: center
}

#clickToExit {
	font-size: 1vw;
	text-align: center;
}

#welcomeBox h1 {
	text-align: center
}

#welcomeBox table {
	margin: 0 auto;
	border-spacing: 3vw 0;
}

#welcomeBox td {
	background-color: rgba(209, 172, 137, 1);
	border: 5px solid rgba(133, 73, 0, 1);
	border-radius: 20px;
	color: rgba(82, 45, 0, .8);
}

#welcomeBox td:hover {
	border: 5px solid rgba(82, 45, 0, 1);
	border-radius: 20px;
	color: rgba(82, 45, 0, .8);
	cursor: pointer;
}

#welcomeBox img {
	margin: 0 auto;
	height: 10vw;
	width: 10vw;
	overflow: hidden;
}

#questionBox {
	margin: 0 auto;
	background-color: rgba(133, 73, 0, 1);
	border: 7px solid rgba(82, 45, 0, 1);
	border-radius: 25px;
	width: 50vw;
	font-size: 2vw;
	position: fixed;
	top: 10vw;
	left: 23.5vw;
	visibility: hidden;
}

#questionBox table {
	margin: 0 auto;
	width: 100%;
}

#question {
	width: 100%;
	margin: 0 auto;
	padding: 0vw 5vw 0vw 5vw;
	text-align: left;
	color: white;
}

#doYou{
	color: white;
}

#answer1, #answer2 {
	width: 100%;
	padding: 5px;
	background-color: rgba(209, 172, 137, 1);
	border: 5px solid rgba(133, 73, 0, 1);
	border-radius: 100px;
	color: rgba(82, 45, 0, .8);
}

#answer1:hover, #answer2:hover {
	width: 100%;
	padding: 5px;
	border: 5px solid rgba(82, 45, 0, 1);
	border-radius: 100px;
	color: rgba(82, 45, 0, .8);
	cursor: pointer;
}

#spcStart {
	visibility: hidden;
}

#spc1 {
	visibility: hidden;
}

#spc2 {
	visibility: hidden;
}

#spc2 {
	visibility: hidden;
}

#spc3 {
	visibility: hidden;
}

#spc4 {
	visibility: hidden;
}

#spc5 {
	visibility: hidden;
}

#spc6 {
	visibility: hidden;
}

#spc7 {
	visibility: hidden;
}

#spc8 {
	visibility: hidden;
}

#spc9 {
	visibility: hidden;
}

#spc10 {
	visibility: hidden;
}

#spc11 {
	visibility: hidden;
}

#spc12 {
	visibility: hidden;
}

#spc13 {
	visibility: hidden;
}

#spc14 {
	visibility: hidden;
}

#spc15 {
	visibility: hidden;
}

#spc16 {
	visibility: hidden;
}

#spc17 {
	visibility: hidden;
}

#spc18 {
	visibility: hidden;
}

#spc19 {
	visibility: hidden;
}

#spc20 {
	visibility: hidden;
}

#spc21 {
	visibility: hidden;
}

#spc22 {
	visibility: hidden;
}

#spc23 {
	visibility: hidden;
}

#spcFinish {
	visibility: hidden;
}